<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calificación con Radio Buttons</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <!-- Stars container -->
  <div id="container1" class="rating_container">
    <input class="rating_button" type="radio" id="rating1" name="rating" value="1">
    <label for="rating1" class="rating_selector"><div class="overlay"></div></label>
    <input class="rating_button" type="radio" id="rating2" name="rating" value="2">
    <label for="rating2" class="rating_selector"><div class="overlay"></div></label>
    <input class="rating_button" type="radio" id="rating3" name="rating" value="3">
    <label for="rating3" class="rating_selector"><div class="overlay"></div></label>
    <input class="rating_button" type="radio" id="rating4" name="rating" value="4">
    <label for="rating4" class="rating_selector"><div class="overlay"></div></label>
    <input class="rating_button" type="radio" id="rating5" name="rating" value="5">
    <label for="rating5" class="rating_selector"><div class="overlay"></div></label>
  </div>
  <button id="submitBtn" name="rating">Show calification</button>
  <!-- End container -->

  <!-- Stars container 2-->
  <div id="container2" class="rating_container">
    <input class="rating_button" type="radio" id="rating6" name="rating2" value="1">
    <label for="rating6" class="rating_selector"><div class="overlay"></div></label>
    <input class="rating_button" type="radio" id="rating7" name="rating2" value="2">
    <label for="rating7" class="rating_selector"><div class="overlay"></div></label>
    <input class="rating_button" type="radio" id="rating8" name="rating2" value="3">
    <label for="rating8" class="rating_selector"><div class="overlay"></div></label>
    <input class="rating_button" type="radio" id="rating9" name="rating2" value="4">
    <label for="rating9" class="rating_selector"><div class="overlay"></div></label>
    <input class="rating_button" type="radio" id="rating10" name="rating2" value="5">
    <label for="rating10" class="rating_selector"><div class="overlay"></div></label>
  </div>
  <button id="submitBtn2" name="rating2">Show calification</button>
  <!-- End container 2 -->

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
